<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
            html {height: 100%;}
            body {height: 100%; margin: 0; padding: 0;}
            div {border: 1px solid #000; height: 100%;}
        </style>
    <title> Secure RPC </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
      <div class="jumbotron text-xs-center" style="padding-top: 20%;">
        <h1 class="display-3">Successful!</h1>
        <h2 class="">IPFS Hash: <%= hash %> </h1>
      </div>
  </body>
</html>
